@font-face {
    font-family: "Noto Serif SC";
    src: url('./NotoSerifSC-Bold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Product Sans";
    src: url('./Product-Sans-Bold-3.ttf');
    font-weight: normal;
    font-style: normal;
}